---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Icon } from 'astro-icon/components';
import Image from "astro/components/Image.astro";
import logoImage from "@assets/Electric.png";

const menuitems: Array<{
  title: string;
  path: string;
  children?: { title: string; path: string }[];
  badge?: boolean;
}> = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Hours & Location",
    path: "#contact",
  },
  {
    title: "Review Us",
    path: "/review-us",
  },
];
---

<Container>
  <header aria-label="Navigation - Quality Electric" class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a aria-label="Quality Electric of Indiana LLC" href="/" class="text-lg"
          >
          <Image src={logoImage} class="w-32 drop-shadow-sm" loading="eager" alt="Quality Electric of Indiana LLC | Trusted Electricians Near You in Terre Haute">
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-black hover:text-[#ffca28]">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>

        <!-- Mobile Specific Actions Panel -->
        <div class="lg:hidden flex items-left mt-2 gap-4">
          <Link href="/contact/" size="md" block id="contact-mobile" width="7em">
            Contact Us
          </Link>
        </div>
      </MenuItems>
    </Astronav>

    <!-- Desktop Specific Actions Panel -->
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a aria-label="Facebook" href="https://www.facebook.com/quality.electric.indiana/" target="_blank">
          <Icon id="socials" name="simple-icons:facebook" /></a>
        <a aria-label="Instagram" href="https://www.instagram.com/qualityelectric.indiana/" target="_blank">
          <Icon id="socials" name="simple-icons:instagram" /></a>
        <a aria-label="Tiktok" href="https://www.tiktok.com/@quality.electric.indiana" target="_blank">
          <Icon id="socials" name="simple-icons:tiktok" /></a>
      <Link aria-label="Contact Us" href="/contact/" size="md" id="contact-desktop" width="7em">
        Contact Us
      </Link>
    </div>
    </div>
  </header>
</Container>

<style>
  #contact-desktop {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
  }

  #contact-desktop:hover {
    font-size:large;
    background: #ffffff;
    border-color: #f0b70e;
  }

  #contact-mobile {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
    transition: background-color 0.3s ease;
    width: 7em;
  }

  #contact-mobile:hover {
    font-size:large;
    background: #ffffff;
    border-color: #f0b70e;
  }

  #socials:hover{
    color: #f0b70e;
  }
</style>